html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* background-color: #f5f7fb; */
  background-color: #f2e9e4;
}

* {
  box-sizing: border-box;
}

.main-section,
.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
}

.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  letter-spacing: 2px;
}

.app-title {
  font-size: 1.9375em;
}

.description {
  font-weight: 600;
}

.app-title,
.description {
  color: #293264;
  padding: 0;
  margin: 0;
}

.question-container {
  border-bottom: 1px solid #dbdef0;
  padding-bottom: 1em;
  width: 100%;
}

.question {
  color: #293264;
}

/* Buttons  */

.start-btn {
  font-weight: 500;
  color: #f5f7fb;
  background-color: #4d5b9e;
  padding: 1em 2em;
  border-radius: 15px;
  text-decoration: none;
  border: none;
}

.start-btn:hover,
.start-btn:focus {
  opacity: 0.5;
  cursor: pointer;
}

.answers-btn-container {
  display: flex;
  gap: 1.26em;
}

.answer-btn {
  border: 0.1px solid #4d5b9e;
  border-radius: 8px;
  padding: 0.5em 1.5em;
  background-color: #f5f7fb;
  color: #293264;
}

.answer-btn:hover,
.answer-btn:focus {
  background-color: #d6dbf5;
  cursor: pointer;
}

.check-btn {
  display: block;
  margin: 1em auto 0;
}

.btn {
  background-color: #4d5b9e;
  padding: 0.9em 1.3em;
  border: none;
  border-radius: 10px;
  color: #f5f7fb;
  cursor: pointer;
}

/* color conditions  */
.selected,
.correct,
.incorrect {
  border: none;
}

.selected {
  background-color: #d6dbf5;
}

.correct {
  background-color: #94d7a2;
}

.incorrect {
  background-color: #f8bcbc;
}

.dimmed {
  opacity: 0.6;
}

.display-results {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
}

.total-score {
  color: #293264;
  font-weight: 900;
}

@media (max-width: 600px) {
  .answers-btn-container {
    gap: 0.5em;
  }

  .answer-btn {
    padding: 0.5em;
  }
}
